.segmented-control {
    text-align: center;
}
.segmented-control .ui-controlgroup {
    margin: 0.2em;
}
.ui-control-active, .ui-control-inactive {
    border-style: solid;
    border-color: gray;
}
.ui-control-active {
    background: #BBB;
}
.ui-control-inactive {
    background: #DDD;
}
.ui-user {
    background: url(images/user_18x24.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
}
/* wrap the text for the comment */
.ui-li-desc {
    white-space: normal;
    margin-right: 20px;
}
